.header-wrapper {
    padding: 1.5rem 2rem;
    color: white;
}

.header-wrapper .rounded {
    padding: 1rem;
    margin: 0;
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
}

.header-wrapper h1 {
    margin: 0;
    font-size: 2rem;
}

@media (max-width: 1250px) {
    .header-wrapper h1 {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .header-wrapper .rounded {
        display: block;
    }

    .header-children {
        margin-top: 1rem;
        display: flex;
    }

    .header-children .btn {
        margin: auto;
    }
}