.card-wrapper {
    padding: 1.5rem 2rem;
    color: white;
}

.card-wrapper .rounded {
    padding: 1rem;
    margin: 0;
    background: #1e1e1e;
}

.card-wrapper .header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}