.question-wrapper {
    display: flex;
    gap: 1.5rem;
    padding: 0 2rem;
}

.explanation-wrapper {
    padding: 0 2rem;
    padding-top: 1.5rem;
}

.test-question {
    flex: 3;
    height: 100%;
}